  
    <script src="/javascripts/libs/jquery-2.2.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="/bootstrap/js/custom-script.js"></script>
    <script src="/javascripts/core.js"></script>
  </body>
</html>